a {
  text-decoration: none;
  color: black;
}

a:hover {
  cursor: pointer;
}

nav {
  background-color: black;
  color: whitesmoke;

  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  color: whitesmoke;
}

h1 {
  text-align: center;
}
